body {
  background: linear-gradient(to bottom, #000000 0%, #222222 50%, #111111 100%);
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.profile {
  border-radius: 50%;
}

.social:hover {
  transform: scale(1.5);
  transition: transform 1s;
  transition-timing-function: ease-in-out;
}

.glass-card {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-panel,
.skillset-panel,
.education-panel,
.connect-panel {
  position: absolute;
}

.skill {
  height: 20px !important;
  width: auto;
}

.skill-name {
  display: block;
}

.playfair {
  font-family: "Playfair Display", serif !important;
}

@media screen and (min-width: 576px) {
  .skill {
    height: 30px !important;
  }
}
